<form name="form">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img ng-show="!!addCtrl.file" ngf-thumbnail="addCtrl.file || '/images/empty.png'"/>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <label class="label">File:</label>
                        <p class="control">
                            <input type="file" 
                                placeholder="Select file..."
                                class="input"
                                ngf-select 
                                ng-model="addCtrl.file" 
                                name="file" 
                                ngf-pattern="'image/*'"
                                ng-required="true"
                                accept="image/*" 
                                ngf-max-size="20MB"/>
                        </p>
                        <p class="control">
                            <button type="submit" 
                                    ng-click="addCtrl.sendImage(addCtrl.file)" 
                                    class="button is-primary"
                                    ng-disabled="form.file.$error.required">Send
                            </button>
                        </p>
                        <div class="notification is-primary" ng-show="addCtrl.notification">
                            <button class="delete" ng-click="addCtrl.notification = false"></button>You sent successfully!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>